<div class="container-fluid mt-4" style="background-color: #ededed;">
  <div class="row p-5 w-100">
    <div class="col-sm-8">
      <span> No Account? No Worries! </span>
      <button class="btn btn-outline-primary rounded">
        Sign Up!
      </button>
    </div>
    <div class="col-sm-4 text-end">
      <button class="btn btn-sm">
        <i class="fa fa-lg fa-facebook" aria-hidden="true"></i>
      </button>
      <button class="btn btn-sm">
        <i class="fa fa-lg fa-instagram" aria-hidden="true"></i>
      </button>
      <button class="btn btn-sm">
        <i class="fa fa-lg fa-share-square-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
